# Limpieza de tabla Vivienda 2015 ENDUTIH

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('C:/Users/MALIK/Documents/ProgramaDelfin/vivienda2015/TIC_2015_VIVIENDAS.csv', encoding='latin', low_memory=False)
df.head()

,Unnamed: 0,D_R,UPM,VIV_SEL,ENT,MUN,LOC,P1_1,P1_2,P1_3,...,P1_7,P1_8,P2_1,P2_2,P2_3,AREAM,TLOC,UPM_DIS,EST_DIS,FACTOR
0,0,NaN,101250,5,1,1,1,2,2,4,...,1,1,4,1,1,14,1,185,7,161
1,1,NaN,101267,1,1,1,1,3,3,4,...,1,1,7,1,1,14,1,186,7,160
2,2,NaN,101267,3,1,1,1,3,4,6,...,1,1,8,1,1,14,1,186,7,160
3,3,NaN,101267,4,1,1,1,3,3,4,...,1,1,5,1,1,14,1,186,7,160
4,4,NaN,101267,5,1,1,1,3,3,7,...,1,1,6,1,1,14,1,186,7,160

## Estadísticas generales de la tabla

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78406 entries, 0 to 78405
Data columns (total 25 columns):
Unnamed: 0    78406 non-null int64
D_R           0 non-null float64
UPM           78406 non-null int64
VIV_SEL       78406 non-null int64
ENT           78406 non-null int64
MUN           78406 non-null int64
LOC           78406 non-null int64
P1_1          78406 non-null int64
P1_2          78406 non-null int64
P1_3          78406 non-null int64
P1_4          78406 non-null int64
P1_5          77837 non-null float64
P1_6_1        78406 non-null int64
P1_6_2        78406 non-null int64
P1_6_3        78406 non-null int64
P1_7          78406 non-null int64
P1_8          78406 non-null int64
P2_1          78406 non-null int64
P2_2          78406 non-null int64
P2_3          78406 non-null int64
AREAM         78406 non-null int64
TLOC          78406 non-null int64
UPM_DIS       78406 non-null int64
EST_DIS       78406 non-null int64
FACTOR        78406 non-null int64
dtypes: float64(2), int64(23)
memory usage: 15.0 MB

## realizar un copia del dataset

In [6]:
df_copy = df.copy()

In [7]:
df_copy.drop('D_R', 1, inplace=True)

## Columna 1 : D_R

In [8]:
df_copy.UPM.value_counts().head()

1661471    22
3160425    22
2560327    22
2260303    22
1360562    22
Name: UPM, dtype: int64

## Columna 2 UPM

In [9]:
df_copy.isnull().UPM.any()

False

In [10]:
df_copy.UPM.value_counts().sum()

78406

## se elimina la columna UPM ya que es una especie de ID que no nos sirve

In [11]:
df_copy.drop('UPM', 1, inplace=True)

## Columna 3 : VIV_SEL

In [12]:
df_copy.VIV_SEL.value_counts()

3     12006
2     11958
1     11939
4     11918
5     11904
9      1266
6      1260
8      1258
7      1249
11     1248
10     1246
13     1244
14     1241
15     1237
16     1231
19     1230
18     1228
12     1226
17     1210
20     1174
21       95
22       33
23        5
Name: VIV_SEL, dtype: int64

In [13]:
df_copy.isnull().VIV_SEL.any()

False

In [14]:
df_copy.VIV_SEL.value_counts().sum()

78406

## Columna 4 ENT

In [15]:
df_copy.ENT.value_counts()

15    3393
11    3097
30    3001
21    2784
7     2762
20    2694
2     2663
14    2657
19    2507
32    2485
8     2427
18    2419
12    2418
28    2401
5     2399
24    2397
16    2382
4     2379
27    2351
26    2326
22    2311
1     2301
6     2283
25    2274
9     2261
10    2251
29    2205
13    2184
31    2181
17    2179
3     2073
23    1961
Name: ENT, dtype: int64

In [16]:
df_copy.VIV_SEL.value_counts().sum()

78406

## se elimina el id general

In [17]:
df_copy.drop('Unnamed: 0',1,inplace=True)

In [18]:
df_copy.head()

,VIV_SEL,ENT,MUN,LOC,P1_1,P1_2,P1_3,P1_4,P1_5,P1_6_1,...,P1_7,P1_8,P2_1,P2_2,P2_3,AREAM,TLOC,UPM_DIS,EST_DIS,FACTOR
0,5,1,1,1,2,2,4,1,9.0,1,...,1,1,4,1,1,14,1,185,7,161
1,1,1,1,1,3,3,4,1,6.0,1,...,1,1,7,1,1,14,1,186,7,160
2,3,1,1,1,3,4,6,1,7.0,1,...,1,1,8,1,1,14,1,186,7,160
3,4,1,1,1,3,3,4,1,5.0,1,...,1,1,5,1,1,14,1,186,7,160
4,5,1,1,1,3,3,7,1,17.0,1,...,1,1,6,1,1,14,1,186,7,160

In [19]:
df_copy.drop('TLOC',1,inplace=True)
df_copy.drop('LOC',1,inplace=True)

In [20]:
df_copy.head()

,VIV_SEL,ENT,MUN,P1_1,P1_2,P1_3,P1_4,P1_5,P1_6_1,P1_6_2,P1_6_3,P1_7,P1_8,P2_1,P2_2,P2_3,AREAM,UPM_DIS,EST_DIS,FACTOR
0,5,1,1,2,2,4,1,9.0,1,1,2,1,1,4,1,1,14,185,7,161
1,1,1,1,3,3,4,1,6.0,1,1,1,1,1,7,1,1,14,186,7,160
2,3,1,1,3,4,6,1,7.0,1,1,1,1,1,8,1,1,14,186,7,160
3,4,1,1,3,3,4,1,5.0,1,1,1,1,1,5,1,1,14,186,7,160
4,5,1,1,3,3,7,1,17.0,1,1,1,1,1,6,1,1,14,186,7,160

## se eliminan las columnas que no existen en los otros catálogos ya que no se pueden juntar

In [21]:
df_copy.drop('AREAM',1,inplace=True)
df_copy.drop('UPM_DIS',1,inplace=True)
df_copy.drop('EST_DIS',1,inplace=True)
df_copy.drop('FACTOR',1,inplace=True)
df_copy.drop('P1_5',1,inplace=True)
df_copy.drop('P1_2',1,inplace=True)
df_copy.drop('P1_3',1,inplace=True)
df_copy.drop('P1_6_3',1,inplace=True)

In [22]:
df_copy.head()

   VIV_SEL  ENT  MUN  P1_1  P1_4  P1_6_1  P1_6_2  P1_7  P1_8  P2_1  P2_2  P2_3
0        5    1    1     2     1       1       1     1     1     4     1     1
1        1    1    1     3     1       1       1     1     1     7     1     1
2        3    1    1     3     1       1       1     1     1     8     1     1
3        4    1    1     3     1       1       1     1     1     5     1     1
4        5    1    1     3     1       1       1     1     1     6     1     1

## Renombramos columnas de acuerdo a las otras tablas¶

In [23]:
df_copy.rename(columns={'P1_1':'P1_1','P1_6_1':'P1_5_1','P1_6_2':'P1_5_2','P1_7':'P1_2','P1_8':'P1_3'}, inplace=True)
df_copy.head()

   VIV_SEL  ENT  MUN  P1_1  P1_4  P1_5_1  P1_5_2  P1_2  P1_3  P2_1  P2_2  P2_3
0        5    1    1     2     1       1       1     1     1     4     1     1
1        1    1    1     3     1       1       1     1     1     7     1     1
2        3    1    1     3     1       1       1     1     1     8     1     1
3        4    1    1     3     1       1       1     1     1     5     1     1
4        5    1    1     3     1       1       1     1     1     6     1     1

## ordenamos las columnas

In [24]:
df_copy = df_copy[['VIV_SEL','P1_1','P1_2','P1_3','P1_4','P1_5_1','P1_5_2','P2_1','P2_2','P2_3','ENT']]

In [25]:
df_copy.head()

   VIV_SEL  P1_1  P1_2  P1_3  P1_4  P1_5_1  P1_5_2  P2_1  P2_2  P2_3  ENT
0        5     2     1     1     1       1       1     4     1     1    1
1        1     3     1     1     1       1       1     7     1     1    1
2        3     3     1     1     1       1       1     8     1     1    1
3        4     3     1     1     1       1       1     5     1     1    1
4        5     3     1     1     1       1       1     6     1     1    1

## P1_1 ¿De qué material es la mayor parte del piso de esta vivienda?
1 Tierra
2 Cemento o firme
3 Madera, mosaico u otro recubrimiento

In [26]:
df_copy.P1_1.value_counts()

3    38377
2    37976
1     2053
Name: P1_1, dtype: int64

In [27]:
df_copy.P1_1.value_counts().sum()

78406

## P1_2 ¿En esta vivienda tienen…
1 agua entubada dentro de la vivienda?
2 agua entubada fuera de la vivienda, pero dentro del terreno?
3 agua entubada de llave pública (o hidrante)?
4 agua entubada que acarrean de otra vivienda?
5 agua de pipa?
6 agua de un pozo, río, arroyo, lago u otro?

In [28]:
df_copy.P1_2.value_counts()

1    61937
2    12286
6     2273
5     1014
4      676
3      220
Name: P1_2, dtype: int64

In [29]:
df_copy.P1_2.value_counts().sum()

78406

##  P1_3 ¿En esta vivienda tienen drenaje o desagüe conectado a…¶
1 la red pública?
2 una fosa séptica?
3 una tubería que va a dar a una barranca o grieta?
4 una tubería que va a dar a un río, lago o mar?
5 ¿No tiene drenaje?

In [30]:
df_copy.P1_3.value_counts()

1    61346
2    14245
5     2214
3      415
4      186
Name: P1_3, dtype: int64

In [31]:
df_copy.P1_3.value_counts().sum()

78406

In [32]:
df_copy.head()

   VIV_SEL  P1_1  P1_2  P1_3  P1_4  P1_5_1  P1_5_2  P2_1  P2_2  P2_3  ENT
0        5     2     1     1     1       1       1     4     1     1    1
1        1     3     1     1     1       1       1     7     1     1    1
2        3     3     1     1     1       1       1     8     1     1    1
3        4     3     1     1     1       1       1     5     1     1    1
4        5     3     1     1     1       1       1     6     1     1    1

## P1_4 ¿Disponen de energía eléctrica?
1 Si
2 No

In [33]:
df_copy.P1_4.value_counts()

1    77846
2      560
Name: P1_4, dtype: int64

In [34]:
df_copy.P1_4.value_counts().sum()

78406

## P1_5_1 ¿En esta vivienda disponen de refrigerador?¶
1 Si
2 No
99 blanco

In [35]:
df_copy.P1_5_1.value_counts()

1    69828
2     8578
Name: P1_5_1, dtype: int64

In [36]:
df_copy.P1_5_1.value_counts().sum()

78406

## P1_5_2 ¿En esta vivienda disponen de lavadora?
1 Si
2 No
99 blanco

In [37]:
df_copy.P1_5_2.value_counts()

1    57696
2    20710
Name: P1_5_2, dtype: int64

In [38]:
df_copy.P1_5_1.value_counts().sum()

78406

## P2_1 ¿Cuántas personas viven normalmente en esta vivienda contando a los niños chiquitos y a los ancianos? (incluya también a los trabajadores domésticos que viven aquí)¶
1-30, 99 blanco

In [39]:
df_copy.P2_1.value_counts()

4     18243
3     15610
2     13348
5     12336
1      8083
6      5493
7      2563
8      1339
9       641
10      352
11      181
12       95
13       48
14       33
15       15
16       10
17       10
18        2
23        1
19        1
20        1
24        1
Name: P2_1, dtype: int64

In [40]:
df_copy.P2_1.value_counts().sum()

78406

##  P2_2 ¿Todas las personas que viven en esta vivienda comparten un mismo gasto para comer?¶
1 Si, 2 No, 99 blanco

In [41]:
df_copy.P2_2.value_counts()

1    76950
2     1456
Name: P2_2, dtype: int64

In [42]:
df_copy.P2_2.value_counts().sum()

78406

## P2_3 Entonces, ¿cuántos hogares o grupos de personas tienen gasto separado para comer contando el de usted?¶
01-06 Número de hogares en la vivienda

In [43]:
df_copy.P2_3.value_counts()

1    76950
2     1238
3      182
4       30
6        3
5        3
Name: P2_3, dtype: int64

In [44]:
df_copy.P2_3.value_counts().sum()

78406

## Todas las columnas ya están limpias, vemos que los tipos de dato sean int

In [45]:
df_copy.dtypes

VIV_SEL    int64
P1_1       int64
P1_2       int64
P1_3       int64
P1_4       int64
P1_5_1     int64
P1_5_2     int64
P2_1       int64
P2_2       int64
P2_3       int64
ENT        int64
dtype: object

## Guardamos el csv¶

In [ ]:
df_copy.to_csv('viviendas_2015_clean.csv')